@using InternetBanking.Core.Application.ViewModels.PayementVMS
@using InternetBanking.Core.Application.Services
@model PaymentViewModel

@{
    ViewData["Title"] = "Confirmación de Pago";
}

<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
            <h2>Confirmación de Pago</h2>
        </div>
        <div class="card-body">
            <h4 class="text-center mb-4">Detalles de la Transacción</h4>

            <div class="row mb-3">
                <div class="col-md-6">
                    <h5>Cuenta de Origen</h5>
                    <p><strong>Tipo:</strong> @Model.OriginProduct.productType.Type</p>
                    <p><strong>Número:</strong> @Model.OriginProduct.ProductNumber</p>
                </div>
                <div class="col-md-6">
                    <h5>Cuenta Destino</h5>
                    <p><strong>Número:</strong> @Model.productType.Type</p>
                    <p><strong>Tipo:</strong> @Model.DestinationProductNumber</p>
                </div>
            </div>

            <div class="text-center">
                <h4 class="text-success">Monto: $@Model.Amount</h4>
            </div>

            <form asp-controller="Payment" asp-action="ConfirmPayment" method="post">

                <input type="hidden" asp-for="OriginProduct.ProductNumber" />

                <input type="hidden" asp-for="DestinationProductNumber" />
                <input type="hidden" asp-for="Amount" />
              


                <div class="mt-4 text-center">
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                    <a asp-controller="Payment" asp-action="Express" class="btn btn-danger">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
