@{
    ViewData["Title"] = "Acceso Denegado";
}
<div class="container-fluid vh-100 d-flex align-items-center justify-content-center bg-light">
    <div class="text-center">
    
        <h1 class="display-4 fw-bold text-danger mb-3">Acceso Denegado</h1>
        <p class="lead text-muted mb-4">Lo sentimos, no tienes permiso para acceder a esta página.</p>
        <div>

            <a asp-controller="@(User.IsInRole("Client")? "Product" : "Dashboard")" asp-action="Index" class="btn btn-outline-info me-2 ">
                Ir al Inicio
            </a>

        </div>
    </div>
</div>