<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InternetBanking.Web</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InternetBanking.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">

               @* Enlace a la vista home *@
                <a class=" ms-2 navbar-brand" asp-area="" asp-controller="Product" asp-action="Index">Bienvenido [Nombre del cliente]</a>

               @* Boton para dispositivos pequeños *@

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

               @* Menu para clientes *@
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav">

                        @* Enlace a la vista home *@

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Home</a>
                        </li>

                        @* Enlace para las opciones de pagos *@

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="beneficiarioDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Pagos
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="beneficiarioDropdown">

                                @* Enlace a la vista de pagos expreso *@

                                <li><a class="dropdown-item" asp-area="" asp-controller="Payment" asp-action="Express">Expreso</a></li>

                                @* Validar que el usuario tenga una tarjeta de credito para mostrar esta opcion *@
                                @* Enlace a la vista de pagos de tarjeta de credito *@

                                <li><a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="OtraAccion">Tarjeta de crédito</a></li>

                                @* Validar que el usuario tenga un prestamo para mostrar esta opcion *@
                                @* Enlace a la vista de pagos de prestamos *@
                                <li><a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="OtraMas">Préstamo</a></li>

                                @* Enlace a la vista de beneficiarios *@
                                <li><a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="OtraMas">Beneficiarios</a></li>
                            </ul>
                        </li>

                        @* Enlace a la vista beneficiarios *@

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Privacy">Beneficiarios</a>
                        </li>

                        @* Enlace a la vista avance de efectivo *@

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Privacy">Avance de efectivo</a>
                        </li>

                        @* Enlace a la vista transferencia *@

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Privacy">Transferencia</a>
                        </li>


                        @* Menú de admins *@

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Usuarios">Transferencia</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - InternetBanking.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
