@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class=" text-bg-danger">Aqui se mostrarán los diferentes productos del cliente</h3>

    <div>
        <div>
            <p class="text-bg-danger">Aqui se van a mostar las diferentes cuentas de banco del cliente, comenzando por la principal, y siendo ordenadas por el saldo que tengan</p>
        </div>
        <div>
            <p class="text-bg-danger">Aqui se van a mostar las diferentes tarjetas de credito del cliente, siendo ordenadas por el saldo que tengan</p>
        </div>
        <div>
            <p class="text-bg-danger">Aqui se van a mostar los diferentes Prestamos  del cliente, siendo ordenadas por el saldo que tengan</p>
        </div>
        <div>
            <p class="text-bg-danger">Aqui se van a mostar las diferentes transacciones del cliente, siendo ordenadas de la mas reciente a las mas antigua</p>
        </div>
    </div>
</div>
